body{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

.container{
    width: auto;
    margin: 0%;
     display: flex;  
    flex-direction: flex;
    height: auto;
    background-color: #353A40;
}
.container-nav img{
    height: auto;
    justify-content:center
}
